*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  background-image: url(https://images.unsplash.com/photo-1544640808-32ca72ac7f37?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  object-fit: cover;
}
.card {
  height: 100%;
}
.card-img-top {
  height: 50%;
}

h5 {
  font-weight: bold;
}
